@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 32 63% 94%;
    --foreground: 260 24% 30%;
    
    --card: 32 50% 92%;
    --card-foreground: 260 24% 30%;
    
    --popover: 32 50% 92%;
    --popover-foreground: 260 24% 30%;
    
    --primary: 260 24% 46%;
    --primary-foreground: 32 63% 94%;
    
    --secondary: 32 58% 63%;
    --secondary-foreground: 260 24% 20%;
    
    --muted: 320 40% 80%;
    --muted-foreground: 260 24% 40%;
    
    --accent: 20 90% 91%;
    --accent-foreground: 260 24% 30%;
    
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 260 24% 70%;
    --input: 260 24% 70%;
    --ring: 260 24% 46%;
    
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
